@font-face {
    font-family: headerFont;
    src: url("/sgt_gorila.ttf");
}
body {
	background-color: gray;
}
h1 {
	font-family: headerFont;
	margin-left: 260px;
	text-align: Left;
	font-size: 2em;
	margin-top: -0.5em;
	color: white;
}
div.header {
	border-bottom: solid #2d64db 1px;
	padding: 10px;
}
div.nav {
	margin-top: 60px;
	margin-right: 20px;
	float: right;
	width: 170px;
	padding-left: 20px;
	border-left: solid #2d64db 1px;
}
div.content {
	margin-left: 80px;
	padding: 40px;
}
div.footer {
	float: bottom;
	border-top: solid #2d64db 1px;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
	bottom: 0;
}
img {
	margin-left: 40%;
}
a.headerLeft {
	margin-left: 30%;
}
a.headerRight {
	margin-left: 60%;
}