body {
}
h1 {
	font-family: "Arial", Arial, sans-serif;
	font-size: 2em;
	padding: 0.5px;
    background-color: rgb(0,180,200);
    text-align: center;
}
div.header {
	height: 150px;
	line-height: 200px;
	padding: 0.5px;
}
div.content {
	margin-left: 80px;
	padding: 40px;
}
div.footer {
	float: bottom;
	border-top: solid rgb(0,180,200) 1px;
	text-align: left;
	margin-bottom: 5px;
	bottom: 0;
}
img {
	margin-left: 5%;
    margin-top: 5%;
}
a.header1 {
	margin-top: -10px;
	margin-left: 5%;
    padding-right: 5%;
    border-right: solid white 5px;
    border-left: solid white 5px;
    padding-left: 5%;
}
a.header2 {
	margin-top: -10px;
	margin-left: 5%;
    padding-right: 5%;
    border-right: solid white 5px;
}
span {
	display: inline-block;
	line-height: normal;
}
p.script {
    font-family: "Arial", Arial, sans-serif;
	margin-left: 80px;
	border-top: solid rgb(150, 150, 150) 5px;
    border-left: solid rgb(150, 150, 150) 5px;
    border-right: solid rgb(150, 150, 150) 5px;
	background-color: rgb(150, 150, 150);
	color: black;
    width: 850px;
    border-radius: 5px 5px 0px 0px;
}
p.script2 {
	margin-top: -18px;
    font-family: "Courier New", Courier, serif;
	margin-left: 80px;
    border-left: solid rgb(150, 150, 150) 5px;
    border-right: solid rgb(150, 150, 150) 5px;
	background-color: rgb(1,36,86);
	color: white;
    width: 850px;
    border-radius: 0px 0px 5px 5px;
}
p.script3 {
	margin-top: -18px;
    font-family: "Courier New", Courier, serif;
	margin-left: 80px;
	border-bottom: solid rgb(150, 150, 150) 5px;
    border-left: solid rgb(150, 150, 150) 5px;
    border-right: solid rgb(150, 150, 150) 5px;
	background-color: rgb(1,36,86);
	color: white;
    width: 850px;
    border-radius: 0px 0px 5px 5px;
}