body {
	background-color: powderblue;
	background-image: url("/images/grey_box.png");
	background-size: 900px 100px;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
}
h1 {
	text-align: center;
	font-size: 4em;
	margin-top: 1em;
}
div.nav {
	margin-left: 20px;
	float: left;
	width: 200px;
}
div.content {
	margin-left: 240px;
	border-left: 1px solid gray;
	padding: 20px;
}