@font-face {
    font-family: headerFont;
    src: url("/sgt_gorila.ttf");
}
body {
}
h1 {
	font-family: headerFont;
	margin-left: 120px;
	margin-top: -40px;
	text-align: Left;
	font-size: 4em;
	background-color: #C0C0C0;
	border-radius: 50px 5px 5px 50px
}
div.nav {
	margin-right: 20px;
	float: right;
	width: 150px;
}
div.content {
	margin-left: 80px;
	padding: 40px;
	border-right: solid #2d64db 3px;
	float: left;
}
div.footer {
	float: bottom;
	border-top: solid #2d64db 1px;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
	bottom: 0;
}
div.header {
	padding: 20px;
	background-image: url("/images/md_2.png");
	background-position: 20px 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100px;
}