body {
	background-image: url("/images/carleton.png");
	background-position: Left Top;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 150px;
}
h1 {
	margin-left: 170px;
	text-align: Left;
	font-size: 4em;
	margin-top: -5px;
}
div.nav {
	margin-left: 20px;
	float: left;
	width: 150px;
}
div.content {
	margin-left: 180px;
	padding: 40px;
	border-left: solid #223a60 3px;
}
div.footer {
	float: bottom;
	border-top: solid #223a60 1px;
	text-align: left;
	padding: 5px;
	position: absolute;
	bottom: 0;
}
div.header {

}