@font-face {
    font-family: headerFont;
    src: url("/sgt_gorila.ttf");
}
body {
	background-color: gray;
}
h1 {
	font-family: headerFont;
	margin-left: 260px;
	text-align: Left;
	font-size: 2em;
	margin-top: -0.5em;
	color: white;
}
div.header {
	background-color: white;
	background-size: 100%;
	box-shadow: 10px 10px 10px black;
}
div.nav {
	margin-top: 60px;
	margin-right: 20px;
	float: right;
	width: 170px;
	padding-left: 20px;
	border-left: solid #2d64db 3px;
}
div.content {
	margin-left: 80px;
	padding: 40px;
}
div.footer {
	float: bottom;
	border-top: solid #2d64db 1px;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
	bottom: 0;
}
img {
	margin-left: 45%;
}