body {
}
h1 {
	margin-left: 120px;
	text-align: Left;
	font-size: 4em;
}
div.nav {
	margin-left: 20px;
	float: left;
	width: 150px;
}
div.content {
	margin-left: 180px;
	padding: 40px;
	border-left: solid #2d64db 3px;
}
div.footer {
	float: bottom;
	border-top: solid #2d64db 1px;
	text-align: left;
	padding: 5px;
	margin-bottom: 5px;
	bottom: 0;
}
div.header {
	padding: 20px;
	background-color: #C0C0C0;
	border-radius: 50px 5px 5px 50px;
	background-image: url("/images/md_2.png");
	background-position: 20px 20px;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: 100px;
}